{{!-- user information will be here --}}
<div>
   Hello! {{users.name}}!
</div>
{{!-- previous workouts completed stats --}}
<div>
    {{users.id}}
</div>
{{!-- user uploaded image progress tracker/gallery --}}
{{!-- favorite workouts / go to exercises from which exercises that the user chooses the most --}}
