{{!-- user information will be here --}}
<div>
   {{#each activities.user as |user|}}
   Hello! {{user.name}}!
   {{/each}}
</div>
{{!-- previous workouts completed stats --}}


{{#each activities as |activity|}}
 <div class="card">
    <p>Type: {{cap activity_type}}</p>
    <p>Activity: {{activity_performed}}</p>
 </div>

{{/each}}
{{!-- user uploaded image progress tracker/gallery --}}
{{!-- favorite workouts / go to exercises from which exercises that the user chooses the most --}}
