/* overall page styling --------------- */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C7D7DE;
    color: #1A1A1D;

}

/* header --------------- */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* title --------------- */
#pagetitle a {
    color: #FF6501;
    text-shadow: 0 0 2px red;
    text-decoration: none;
    position: right;
}

/* nav --------------- */
.navbtns {
    text-decoration: none;
    background-color: #FF6501;
    color: antiquewhite;
    font-weight: bold;
}

.navbtns:hover {
    text-decoration: none;
    color: antiquewhite;
}

#logout {
    background-color: #0D698B;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    width: auto;
    height: auto;
}

#logout:hover {
    opacity: 15%;
}

/* main --------------- */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#aboveBodyTitle {
    color: #FF6501;
    font-size: 4vh 4vw;
    text-align: center;
    margin-bottom: 50px;
}


.workout-headers {
    color: #FF6501;
    font-size: 3vh 3vw;
}

/* right in desktop */
.bodyViewL {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

/* left in desktop */
.bodyViewR {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.btnsaveworkouts {
    background-color:  rgb(87, 176, 87);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    height: auto;
    font-size: 2vh;
}


.choice-containers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left space-between;
    align-items: center;
}

label {
    padding-left: 3px;
}

.pending-containers {
    width: 100%;
    /* padding-left: 20px; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: left space-between;
    align-items: center;
}

/* pending checkboxes */
.pending-exercises {
    /* flex-grow: 1; */
    align-self: left;
}

/* pending labels */
.pending-containers label {
    flex-grow: 4;
    align-self: center;
    margin-right: 2px;
}

/* pending delete buttons */
.delete-pending {
    /* flex-grow: 4; */
    background-color: red;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    margin: 1px;
    outline: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    align-self: right;
    justify-self: right;
}

/* pending input boxes */
.pending-inputs{
    align-self: flex-end;
    flex-basis: 100%;
    width: 90%;
}

/* dashboard --------------- */
#dashboardheader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
}

#profileimage {
    width: 60px;
    height: 60px;
}

.dashboardincompletebtns {
    background-color: #0D698B;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    width: fit-content;
    height: auto;
    margin: 4px;
}

.dashboard-workouts {
    padding: 4px;
    margin-top: 10px;
}

/* svg stylings --------------- */
path#upperBody {
    opacity: 0;
}

path#upperBody:hover {
    fill: #FF6501;
    opacity: 1;
    cursor: pointer;
}

path#head {
    opacity: 0;
}

path#head:hover {
    fill: #FF6501;
    opacity: 1;
    cursor: pointer;
}

path#legs {
    opacity: 0;
}

path#legs:hover {
    fill: #FF6501;
    opacity: 1;
    cursor: pointer;
}

path#core {
    opacity: 0;
}

path#core:hover {
    opacity: 1;
    fill: #FF6501;
    cursor: pointer;
}

div#bodyDiagram {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

#svg2 {
    width: 100%;
    height: 65vh;
}

span#bodyContainer {
    display: flex;
    contain: content;
    justify-content: space-between;
    width: 100%;
}

#bodySVG {
    opacity: .5;
    width: 40%;
}



/* mobile adjustments */
@media screen and (max-width: 830px) {
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    #aboveBodyTitle {
        display: none;
    }

    #bodyContainer {
        display: flex;
        contain: content;
        flex-direction: column;
        justify-content: center;
    }
    /* bottom in mobile */
    .bodyViewL {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    
    #bodySVG {
        opacity: .5;
        align-self: flex-start;
        width: 100%;
        order: -1;
    }
    /* top in mobile */
    .bodyViewR {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        margin-bottom: 20px;
    }

    .choice-containers {
        width: 75%;
        padding-left: 20px;
        display: flex;
        justify-content: left space-between;
        align-items: left;
    }
    .pending-containers {
        width: 90%;
        padding-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
    }
}