path#upperBody {
    opacity: 0;
}

path#upperBody:hover {
    fill: black;
    opacity: 1;
}

path#head {
    opacity: 0;
}

path#head:hover {
    fill: red;
    opacity: 1;
}

path#legs {
    opacity: 0;
}

path#legs:hover {
    fill: yellow;
    opacity: 1;
}

path#core {
    opacity: 0;
}

path#core:hover {
    opacity: 1;
    fill: orange;
}

div#bodyDiagram {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

#svg2 {
    width: auto;
    height: 75vh;
}

span#bodyContainer {
    display: flex;
    contain: content;
    justify-content: space-around;
}

span#bodySVG {
    opacity: .5;
}

.bodyViewL {
    width: 15vw;
}

.bodyViewR {
    width: 15vw;
}

#aboveBodyTitle {
    text-align: center;
}