path#upperBody {
    fill: red
}

path#upperBody:hover {
    fill: black
}

path#head {
    fill: green
}

path#head:hover {
    fill: red
}

path#legs {
    fill: pink
}

path#legs:hover {
    fill: yellow
}

path#core {
    fill: chartreuse
}

path#core:hover {
    fill: orange
}

div#bodyDiagram {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

#svg2 {
    width: auto;
    height: 75vh;
}

span#bodyDiagram {
    display: flex;
    align-content: center;
    justify-content: center;
}