path#upperBody {
    fill: red
}

path#upperBody:hover {
    fill: black
}

path#head {
    fill: green
}

path#head:hover {
    fill: red
}

path#legs {
    fill: pink
}

path#legs:hover {
    fill: yellow
}

path#core {
    fill: chartreuse
}

path#core:hover {
    fill: orange
}

div#bodyDiagram {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

#svg2 {
    width: auto;
    height: 75vh;
}

span#bodyContainer {
    display: flex;
    contain: content;
    justify-content: space-around;
}

span#bodySVG {
    opacity: .5;
}

.bodyViewL {
    width: 15vw;
}

.bodyViewR {
    width: 15vw;
}

#aboveBodyTitle {
    text-align: center;
}